
.icon-mid {
  width: 24px;
  height: 24px;
  background-size: contain;
}

.connections,
.connection {
  @extend .icon-mid;
  background-image: url('../../../assets/images/connection.svg');
}

.databases,
.database {
  @extend .icon-mid;
  background-image: url('../../../assets/images/database.svg');
}

.schemas,
.schema {
  @extend .icon-mid;
  background-image: url('../../../assets/images/schema.svg');
}

.tables,
.table {
  @extend .icon-mid;
  background-image: url('../../../assets/images/table.svg');
}

.columns,
.column {
  @extend .icon-mid;
  background-image: url('../../../assets/images/column.svg');
}
