:host {
  width: 100%;

  .view {
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 4rem;

    i {
      &.custom-icon {
        margin-right: 3px;
        width: 16px;
        height: 16px;
        align-self: center;
      }
    }

    p {
      &.custom-group-item {
        display: inline-block;
        font-size: 12pt;
        font-weight: bolder;
        line-height: 2rem;
      }
    }
  }
}
